body {
    background-color: #ffffff;
    color: rgb(34, 10, 3);
    background-size: cover;
}

.containerPrincipal {
    display: flex;
    min-height: 100vh;
    width: 100%;
    background-color: #2e2e48;
    flex-direction: column;
    align-items: center;
}

.containerCentral {
    display: flex;
    min-height: 100vh;
    width: 1200px;
    background-color: #8e7ce3;
    flex-direction: column;
    align-items: center;
}

.containerTopo {
    display: flex;
    background-color: #58499c;
    height: 60px;
    width: 100%;    
    justify-content: space-between;
}

.containerLogo {
    display: flex;
    background-color: #58499c;
    height: 60px;
    width: 200px;
}

/* Menu de Opções */
.containerMenu {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: center;
    background-color: #58499c;
    height: 60px;
    width: 600px;
}

.item-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 120px;

    text-decoration: none;
    color: #D5E4CF;
    padding: 12px 10px;
    border-radius: 8px;
    transition: background-color 0.3s, color 0.3s;
    box-sizing: border-box;
}

.item-menu:hover {
    background-color: #302a83;
    color: white;
}

.containerSeperacao {
    display: flex;
    height: 60px;
    width: 150px;
    background-color: #42b3df;
}

/*Banner de Exibição Inicial */
.containerBanner {
    display: flex;
    background-color: #8e7ce3;
    height: 350px;
    width: 100%;
    align-items: center;
    flex-direction: row;
    justify-content: start;
}

/* Editar imagem */
.imagemAnimal {
    height: 350px;
    width: 100;
}

/*Container Texto Quem Somos*/
.containerTextoLadoBanner {
    display: flex;
    background-color: #8e7ce3;
    height: 300px;
    width: 400px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
}

.item-TextoBanner {
    color: #D5E4CF;
    font-size: 17px;
}

.containerEspaco {
    display: flex;
    background-color: #8e7ce3;
    height: 300px;
    width: 80px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

/* Container Texto */
.containerTexto {
    display: flex;
    background-color: #8e7ce3;
    height: 400px;
    width: 800px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
}

.containerEspacoT {
    display: flex;
    background-color: #58499c;
    height: 50px;
    width: 1200px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.tituloDivisor {
    color: #D5E4CF;              
    font-size: 22px;             
    margin: 0;
    padding: 12px 10px;          
    border-radius: 8px;         
    font-weight: bold;
}

.containerEspacoRodape {
    display: flex;
    height: 50px;
    width: 1200px;
    background-color: #58499c;
}

.containerRodape {
    display: flex;
    justify-content: space-around;
    align-items: start;
    height: 130px;
    width: 1200px;
    background-color: #58499c;
}

.rodape {
    display: flex;
    align-items: start;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    flex-direction: column;
    color: white;
    gap: 5px;
}

.rodapeA {
    text-decoration: none;
    color: white;
}

/* Container Foto */
.containerFotosTexto {
    display: flex;
    width: 100%;
    background-color: #8e7ce3;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    gap: 40px;
}

.colunaFotos {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.fotoLateral {
    width: 250px;
    height: 300px;
    object-fit: cover;
    border-radius: 15px;
    border: 2px solid #58499c;
}

.containerTextoNovo {
    width: 500px;
    text-align: justify;
}