body {
    background-color: #ffffff;
    color: rgb(34, 10, 3);
    background-size: cover;
}

/*FONTE DE TEXTO*/
.poetsen-one-regular {
  font-weight: 400;
  font-style: normal;
}

.containerPrincipal {
    display: flex;
    min-height: 100vh;
    width: 100%;
    background-color: #2e2e48;
    flex-direction: column;
    align-items: center;
}

.containerCentral {
    display: flex;
    min-height: 100vh;
    width: 1200px;
    background-color: #fdc751;
    flex-direction: column;
}

.containerTopo {
    display: flex;
    background-color: #58499c;
    height: 60px;
    width: 100%;    
    justify-content: space-between;
}

.containerLogo {
    display: flex;
    background-color: #58499c;
    height: 60px;
    width: 200px;
    
}

/* Menu de Opções */
.containerMenu {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: center;
    background-color: #58499c;
    height: 60px;
    width: 600px;
}

.item-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 120px;

    text-decoration: none;
    color: #D5E4CF;
    padding: 12px 10px;
    border-radius: 8px;
    transition: background-color 0.3s, color 0.3s;
    box-sizing: border-box;
}

.item-menu:hover {
    background-color: #302a83;
    color: white;
}

/*.containerSeperacao {
    display: flex;
    height: 60px;
    width: 130px;
    background-color: #42b3df;
}*/

/*Banner de Exibição Inicial */
.containerBanner {
    display: flex;
    height: 300px;
    width: 100%;
    align-items: flex-end;
    flex-direction: row;
    justify-content: center;
}

/* Caixinhas de perfis animais*/
.containerDuasCaixinhas {
    display: flex;
    flex-wrap: wrap;            /* QUEBRA A LINHA */
    justify-content: center;    /* centraliza as caixinhas */
    gap: 20px;                  /* espaço entre elas */
    width: 100%;
    background-color: #ffeb9c;
}

.caixinhaFotoAnimal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 250px;
    
    border: transparent;
    background-color: transparent;

    border-radius: 15px;
    box-shadow: 2px 2px 10px rgb(32, 32, 32);
}

/* Botão gigante do meio */
.containerBotaoEnorme {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: center;
    background-color: #58499c;
    height: 60px;
    width: 1200px;
}

.item-botaoEnorme {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 120px;

    text-decoration: none;
    color: #D5E4CF;
    padding: 12px 10px;
    border-radius: 8px;
    transition: background-color 0.3s, color 0.3s;
    box-sizing: border-box;
}

.item-botaoEnorme:hover {
    color: #ddb01c;
    font-size: 200;
}

.containerEspacamentoBotao {
    display: flex;
    background-color: #2e2e48;
    height: 15px;
    width: 1200px;
}

/*RODAPÉ*/
.containerEspacoRodape {
    display: flex;
    height: 50px;
    width: 1200px;
    background-color: #58499c;
}

.containerRodape {
    display: flex;
    justify-content: space-around;
    align-items: start;
    height: 130px;
    width: 1200px;
    background-color: #58499c;
}

.rodape {
    display: flex;
    align-items: start;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    flex-direction: column;
    color: white;
    gap: 5px;
}

.rodapeA {
    text-decoration: none;
    color: white;
}

/* TITULO DO ANIMAL */
.containerAnimal {
    display: flex;
    height: 70px;
    width: 100px;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-left: 25px;
    background-color: #fdc751;
}

.tipoDeAnimal {
    color: white;
    font-size: 25px;
    flex-direction: center;
}

.animalEditadoFoto {
    width: 200px;
    height: 250px;
}